@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

html {
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #cccccc;
}

#content {
    background-color: white;
    margin: 15px auto;
    max-width: 800px;
    padding: 15px;
}

.input-select {
    display: flex;
    flex-direction: column;
}

.input-select:not(:last-child) {
    margin-bottom: 10px;
}

.responsive-table {
    table-layout: fixed;
    max-width: 100%;
}

.responsive-table td {
    overflow: hidden;
    vertical-align: top;
    overflow-wrap: anywhere;
    width: 20%;
}